.land-center{
    position: absolute;
    top: 50%;
	transform: translateY(-50%);
	width: 100%; 
	text-align: center;
    /* left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; */
}
.land-btn{
    padding: 20px 30px; 
    min-width: 200px;
    margin: 15px;
    font-size: 20px;
    border-radius: 20px;
}
.reg-btn{min-width: 250px; margin-top: 40px;}
.landing-poster{
    height:93vh;background-image: url('/assets/global/landingposter2.jpg');background-size: cover;
}

.land-header{
    background-image: linear-gradient(to bottom right, #000, transparent);
    padding-bottom: 100vh;
}

.img-btn{padding: 0;margin: 3vw;}
.img-btn img{width: 200px;border: 5px solid #f8ae81;border-radius: 30px;margin: 10px; box-shadow: none;}
.img-btn:hover img{width: 220px; margin: 0; border: 5px solid #d894e9; box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.75); transition: all .2s ease;}
.login-form{background-color: #f3f3f3; padding: 30px; width: 420px; margin: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -70%);}
.login-container{height: Calc(100vh - 202px); width: 100%;}
.grid{display: flex;flex-wrap: wrap; justify-content: 'last baseline'}
.modal-bg{position: fixed;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.75);z-index: 999;}
.modal{background: #ddd;padding: 20px;top:50%;left:50%;transform: translate(-50%, -50%);display: block;}
.modal input{border:none;width: 100%;background: transparent;padding:10px;}
.modal input:focus-visible{outline-color: #9933ff;}
.auth-modal{height: 400px;}
.auth-modal .modal-body{position: relative;top:50%;transform: translateY(-50%);z-index: -1;}
.auth-modal form button{width: 100%; margin: 20px 0px;}
.btn-purple{background-color: #9933ff;color: #fff;}
.text-purple{color: #7a29a3}
.hidden{display: none !important;}
.auth-label{margin:10px 0px 5px;}
#customModal{display: none;}
#customModal .close{color:#242424;font-size: 30px;}
.loader{max-width: 50%;margin-left: 25%;}
.sidecol ~ div {margin-left: 100px !important; width: Calc(100% - 100px);}
.sidebar a{
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    padding: 21px 15px;
    transition: all 0.2s ease;
}
.sidebar a:hover{
    color: rgba(255, 255, 255, 1);
}
.sidebar .fa{
    display: block;
    text-align: center;
    font-size: 24px;
    padding-bottom: 10px;
}
.sidebar a span{display: block; text-align: center;}
.sidebar .active a{background-color: #7a29a3;}
.genre_title{margin: 5px 10px 0 !important;
    text-transform: capitalize;
    font-size: 18px;}
.genre_title .float-right{font-size: 15px;text-transform: lowercase;}
.sidecol{
    position: relative;
    float: left;
    height: 100%;
    background: #990000;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 70px;
    height: 100vh;
    background: #0f1319;
    width: 100px;
    overflow: hidden;
    z-index: 99;
    transition: all .3s ease;
}
.sidebar.show{
    width: 100px !important;
    top: 77px;
}
.sidebar.hide{
    width: 0;
}
.sidebar ul{padding: 0}
.sidebar ul li{list-style: none;}
.grid-row{margin: 5px 10px;}

.sidebar-btn{
    position: absolute;
    top: 0;
    left: 10px;
    background: #000;
}
.login-btn-container{
	float: right;padding: 8px 25px;
}

footer {
    margin: 5em 0 5em 115px;
    width: Calc(100% - 130px);
}

.pro-btn {
    padding: 3px 15px !important;
    float: left;
    /* border: 1px solid #9933ff; */
    border-radius: 10px;
    background-color: #242424 !important;
	margin-right: 15px;
}

.pro-btn img{    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar-form.navbar-right button{
	height: 40px;
    position: relative;
    border-top-right-radius: 4px;
    left: -8px;
    border-bottom-right-radius: 4px;
}

/* Player styles */
#neon-player #wrapper{position:relative}
#neon-player #wrapper video{width: 100%}
#neon-player #ctrl{position: absolute;left:0;width:100%; bottom:0;padding:10px; background-color:#000;opacity: 0;min-height: 40px; transition: all .3s ease;}
#neon-player #wrapper:hover #ctrl{opacity: 1;}
#neon-player #buttons{position:absolute; color:#fff;left: 50%;bottom:6px;transform: translateX(-50%);}
#neon-player #qlyChooser{position: absolute;right: 60px;bottom:6px;}
#neon-player #qlyChooser ul{position: absolute;padding: 0;margin: 0;right: 0; bottom:100%;height: 0;overflow-y: hidden;width: 100%;
	transition: all .3s ease;border-radius: 4px;}
#neon-player #qlyChooser ul li{background-color: rgba(0,0,0,.95);color: #fff;cursor: pointer;text-align: center;padding: 3px;
	border-bottom: 1px dotted rgba(255,255,255,.75);}
#neon-player #qlyChooser ul li:last-of-type{border-bottom: none;}
#neon-player #qlyChooser:hover ul{height: auto;}
#neon-player .btn-player{background-color: #430761;opacity: .95;padding-left:15px;padding-right:15px}
#neon-player .btn-player:focus{outline:none;}
#neon-player .btn-player:hover{opacity: 1;}
#neon-player #fullscreen{position:absolute;right:10px;bottom:6px;}
#neon-player .player-logo{position: absolute;left: 10px;bottom: 10px;height: 20px;}
#movieTitle{    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 8px 15px;
    font-size: 18px;
    margin: 0;
    background: rgba(0,0,0,.5);
}
#neon-player #progress, #neon-player .progress{position: absolute;
    top: 4px;
    left: 25px;
    width: Calc(100% - 50px);}
.invisible{opacity: 0 !important;}
#progress[value] {
	appearance: none; /* Needed for Safari */
	border: none; /* Needed for Firefox */
	color: #9933ff; /* Fallback to a solid color */
  }
@media screen and (min-width: 1300px) {
	.grid figure{
		width: Calc(12.5% - 20px);
	}
	.grid.onerow figure:nth-child(9){display: none;}
	.grid.onerow figure:nth-child(10){display: none;}
}

@media screen and (max-width: 1299px) {
	.grid figure{
		width: Calc(14.2% - 20px);
	}
	.grid.onerow figure:nth-child(8){display: none;}
	.grid.onerow figure:nth-child(9){display: none;}
	.grid.onerow figure:nth-child(10){display: none;}
}

@media screen and (max-width: 1199px) {
	.grid figure{
		width: Calc(16.6% - 20px);
	}
	.grid.onerow figure:nth-child(7){display: none;}
}

@media screen and (max-width: 1000px) {
	.grid figure{
		width: Calc(20% - 20px);
	}
	.grid.onerow figure:nth-child(7), .grid figure:nth-child(8), 
	.grid.onerow figure:nth-child(9), .grid figure:nth-child(10) {display: block !important;}
}

@media screen and (max-width: 900px) {
	/* .grid figure{
		width: Calc(25% - 20px);
	} */
	
	/* .sidecol ~ div{
		width: Calc(100% - 100px);
	} */
	/* .genre_title{margin: 5px 20px 0 !important;} */
	.img-btn img {
		width: 150px;
		border: 5px solid #f8ae81;
		/* border-radius: 30px;
		margin: 10px;
		box-shadow: none; */
	}
}

@media screen and (max-width: 767px) {
	.grid figure{
		width: Calc(25% - 20px);
	}
	/* .grid figure:nth-child(5){display: none;} */
	.grid.onerow figure:nth-child(9){display: none !important;}
	.grid.onerow figure:nth-child(10){display: none !important;}
	.sidecol .sidebar{
		width: 0;
		overflow-x: hidden;
	}
	.navbar-form.navbar-right{
		position: relative;
		width: Calc(100% - 80px);
		border: none;
		padding: 10px 3px;
	}
	.navbar-form.navbar-right.w-100{
		position: relative;
		width: Calc(100% + 30px);
		border: none;
	}
	.navbar-form.navbar-right button{
		position: absolute;
		right: 0;
		left: unset;
		top: 9px;
		height: 40px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.navbar-form.navbar-right.w-100 button{
		right: 3px;
	}
	.login-btn-container{
		padding: 15px 0;
		margin-right: -15px;
	}
	.login-btn-container button{
		height: 40px;
	}
	/* */
	.sidecol ~ div{
		margin-left: 0 !important;
		width: 100%;
	}
	footer {
		margin: 15px;
    	width: Calc(100% - 30px);
	}
	.movie-list li.active a::after{display: none !important;}
}

@media screen and (max-width: 600px) {
	.grid figure{
		width: Calc(33.33% - 20px);
	}
	.grid.onerow figure:nth-child(7){display: none !important;}
	.grid.onerow figure:nth-child(8){display: none !important;}
	/* .grid figure:nth-child(4){display: none;} */
	#buttons{
		left: 10px !important;transform: translateY(-50%) !important;
	}
	.player-logo{display: none !important;}
}

@media screen and (max-width: 480px) {
	.grid figure{
		width: Calc(50% - 20px);
	}
	/* .grid figure:nth-child(3){display: none;} */
}

.navbar-brand{padding: 9px 15px;}
.video_cover .thumb{width: 50%; float:left; margin-right: 15px;}
.thumbgroup::after{content: '';display: block;clear: both;}
.video_cover .movie-title .fa{font-size: 26px;margin-right: 10px;}
.video_cover .fa-star{color: #ebfc06}
.movie-list ul{padding: 0;}
.movie-list li{list-style: none;position: relative;}
.movie-list li a{display: block;position: relative; padding: 8px 15px 8px 48px;color: #fff;text-decoration: none;}
.movie-list li:nth-child(odd) a{background-color: #7a29a3;}
.movie-list li:nth-child(even) a{background-color: #430761;}
.movie-list li.active a::after{content: '';
    display: block;
    border: 18px solid transparent;
	/* background-color: #9933ff; */
    border-left: 18px solid #9933ff;
    position: absolute;
    top: 0;
    right: -36px;}
.movie-list li .counter{display: block;width: 40px;position: absolute;left: 0;top:0; padding: 8px;color:#fff;text-align: center;float:left}
.movie-list li:nth-child(odd) .counter{background-color: #9933cc;}
.movie-list li:nth-child(even) .counter{background-color: #730ca7;}
.movie-list li.active .counter{background-color: #7a29a3;}
.movie-list li.active a, .movie-list li.selected a{background-color: #9933ff;margin-left: -5px;margin-right: -5px;}
.movie-list li.selected .counter{background-color: #a64dff;left: -5px;}
.jw-preview.jw-reset{background-size: cover !important;}

